@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --text-primary: #383E50;
    --text-highlight: #2A79FF;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Poppins', sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


.container {
    height: 100vh;
    width: 100vw;

    padding: 0 1rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    
    background: #ECF4FF;
}

.container .card {
    height: 80%;
    width: 18rem;

    padding: 1rem 2rem;

    display: grid;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    place-items: center;
    
    background: #fff;

    border-radius: 4px;
    
    transition: 0.6s;
}

.container .card header {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1rem 1rem;
}

.container .card header h1 {
    font-size: 1.2rem;

    color: var(--text-primary);
}

.container .card section {
    width: 100%;

    display: flex;
    justify-content: center;

    padding: 0 0 3rem 0;
}

.container .card section p {
    font-size: 2.4rem;

    color: var(--text-highlight);
}

.container .card section p span:last-child {
    font-size: 1.2rem;
}

.container .card main {
    width: 100%;
}

.container .card main ul {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    color: var(--text-primary);
}

.container .card main ul li {
  display: flex;

  align-items: center;
  justify-content: flex-start;
  gap: .5rem;
}

.container .card footer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.container .card footer button {
  padding: .5rem 2.5rem;

  border: 2px solid #2479FF;
  border-radius: 4px;

  color: #2479FF;

  transition: 0.6s;
}

.container .card:hover {
  transition: 0.6s;

  scale: 1.1;

  outline: 1px solid #FAB630;
}

.container .card:hover footer button {
  background: #2479FF;

  color: #eee;

  transition: 0.6s;
}